# OS files
desktop.ini
DESKTOP.INI
[Dd]esktop.ini
Thumbs.db

# Screenshots and Media
Screenshot*.png
*.mp4
*.png
*.jpg
*.jpeg

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local tools
.antigravitycli/

